@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Dancing Script', cursive;
    background-color: lavender;
    height: 100px;
    /* position: fixed;
    width: 100%; */
}

a {
    text-decoration: none;
    color: black;
}

#navbar {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 100px;
}

.baslık {
    font-size: 40px;
    color: lightsalmon;
    margin-bottom: 15px;
}

.baslık a {
    font-size: 40px;
    color: lightskyblue;
    margin-bottom: 15px;
}
.baslık a:hover{

    color: rgb(222, 70, 121);
}



#navbar ul {
    color: black;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 32px;

}

#navbar ul li a {
    color:lightcoral;
    padding: 0.5rem;
    font-size: 25px;
    font-weight: bold;

}

#navbar ul li a:hover {

    color: lightsalmon;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

footer{
    margin-top: 100px;
    background-color:lavender;
    height: 180px;
    width: 100%;
}

footer ul{
    display: flex;
    margin-top: 30%;
    justify-content: center;
    list-style-type: none;
    gap: 100px;
    margin: 0;

    padding: 0;

    overflow: hidden;
}

footer ul li{

    color: #fff;
    float: left;
    text-align: center;
    margin-top: 5%;
}

footer ul li a{

    color: #fff;
    float: left;
    text-align: center;
    margin-top: 5%;
}


.footer-border{
    margin-top: 20px;
    border-bottom: 1px solid rgba(205, 200, 200, 0.871);
    margin-left: 100px;
    width: 80%;
}

footer .copyright{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}

footer .copyright a{
    margin-top: 100px;
    text-align: center;
    color: orange;
}

